@tailwind base;
@tailwind components;
@tailwind utilities;

.divider {
  height: 2px;
  width: 100%;
  background-color: black;
}
*{
  font-family: fantasy;
}

#div{
  background-color: red;
  height: 100px;
  width: 100px;
  
}
